body {
  Background-image: url("https://i.redd.it/y1ostvqnr4711.jpg");
  Background-size: cover;
  background-repeat: repeat;
  font-family: sans-serif;
}

form {
  width: 360px;
  text-align: left;
  Height: 306.8px;
}

.box .inputbox input {
  width: 100%;
  padding: 12px 10px;
  Font-size: 18px;
  color: #fff;
  letter-spacing: 0.062rem;
  margin: 8px 0;
  margin-bottom: 1.875rem;
  border: none;
  border-bottom: 2px solid #adadad;
  Outline: none;
  background: transparent;
}

.input:focus {
  outline: none;
}

span::before {
  content: attr(data-placeholder);
  position: absolute;
  top: 30%;
  left: 0%;
  font-size: 18px;
  color: fff;
  pointer-events: none;
  transition: 0.3s ease all;
}

span::after {
  content: '';
  position: absolute;
  width: 0%;
  height: 2px;
  top: 73.55%;
  left: 0;
  background: linear-gradient(120deg, #349EDb, #8e44ad);
  transition: 0.3s;
}

.box .inputbox {
  Position: relative;
}

.box .inputbox input:focus ~ span,
.box .inputbox input:valid ~ span {
  color: fff;
}

input[type=submit] {
  width: 100%;
  background: linear-gradient(120deg, #349EDb, #8e44ad);
  background-size: 200%;
  color: white;
  Font-size: 1.9rem;
  Position: absolute;
  Top: 65%;
  padding: 20px;
  margin-top: 2rem;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  Width: 360px;
  Height: 60px;
  outline: none;
}

input[type=submit]:hover {
  background-position: right;
}

.box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 8px;
  Background: rgba(0, 0, 0, 0.4);
  color: #ffff;
  width: 40rem;
  padding: 2.5rem;
  box-sizing: border-box;
}

.box h2 {
  margin: 0 0 1.875rem;
  padding: 0;
  color: #fff;
  text-align: center;
}

input:invalid {
  box-shadow: none;
}

.focus + span::before {
  top: -5px;
}

.focus + span::after {
  width: 100%;
}

html {
  background: url("https://i.redd.it/y1ostvqnr4711.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100%;
  overflow: hidden;
}